POSTGRES_USER='postgres'
POSTGRES_PASS='password'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
DATABASE='cabsharing'
GMAIL='me@gmail.com'
GMAIL_PASSWORD='password'
GOOGLE_CLIENT_ID='client_id'
